<!DOCTYPE html>
    <head>
        <meta charset="utf-8"/>
        <title>Testing search engine app</title>
    </head>
    <body>
        <h1>In-App Test</h1>
        <p>
            <input type="text" id="input_document"/>
            <button type="button" id="add_document">add document</button>
        </p>
        <p>
            <input type="text" id="search_term"/>
            <button type="button" id="search_btn">search for words</button>
        </p>
        <p>
            <h3>Words added to corpus</h3>
            <div id="wordsAddedToCorpus"></div>
        </p>
        <p>
            <button id="clear_db" type="button">ClearDB</button>
        </p>
        <script src="static/index.js"></script>
    </body>
</html>