<!DOCTYPE html>
    <head>
        <meta charset="utf-8"/>
        <title>Testing search engine app</title>
    </head>
    <body>
        <h1>In-App Test</h1>
        <p>
            <input type="text" id="input_document"/>
            <button type="button" id="add_document">add document</button>
        </p>
        <p>
            <input type="text" id="search_term"/>
            <button type="button" id="search_btn">search for words</button>
        </p>
        <p>
            <h3>Words added to corpus</h3>
            <div id="wordsAddedToCorpus"></div>
        </p>
        <p>
            <h3>Words that contain your search term</h3>
            <div id="wordsContainingSearchTerm"></div>
        </p>
        <p>
            <button id="drop_db" type="button">DropDB</button>
        </p>
        <hr>
        <h1>Questions</h1>
        <div id="q1">How does this work?</div>
        <button type="button" id="q1_btn">Answer</button>
        <div id="q1_ans">Ans: </div>
        <div id="q2">What languages and technologies rest in the backend?</div>
        <button type="button" id="q2_btn">Answer</button>
        <div id="q2_ans">Ans: </div>
        <div id="q3">Does it cache any request?</div>
        <button type="button" id="q3_btn">Answer</button>
        <div id="q3_ans">Ans: </div>
        <div id="q4">What are additional ways to go about this?</div>
        <button type="button" id="q4_btn">Answer</button>
        <div id="q4_ans">Ans: </div>
        <script src="static/index.js"></script>
    </body>
</html>